/* All styles for your header Components live here */

p {
    font-size: 16px;
}



.header-container {
    display: flex;
    width:100%
}

.image-container {
    width: 40%;
    
}

.content-container {
    width: 100%;
}

.title-container {
    display: flex;
    
}

.lite-grey {
    color: grey;
}